<div class="well well-lg">
<h1>Writing on the Sudan conflict</h1>



<div class="panel panel-default">
  <div class="panel-heading">The children: The lost boys of Sudan</div>
  <div class="panel-body">
The children : The Lost Boys of Sudan were a group of orphaned children who walked a thousand miles to freedom during the Sudanese civil war. They were forced to leave their families and homes because violence, turmoil, and political instability in the area threatened their safety. The violence continues to this day. Some of the Lost Boys made it out alive and have moved to the US as well as other countries, who have provided financial and military support to the rebel forces in the area.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">The Book: What is the What</div>
  <div class="panel-body">
What is the What is a book written by Dave Eggers (put picture of him on the side or something) in 2006 as an autobiography of Valentino Achak Deng, a lost boy, who with others like him was separated from his family during the Sudanese Civil War. Though the book is listed as a fiction novel, it contains accounts of real events as told to Eggers by Valentino. While most of the story is accurate in terms of its validity, some of the aspects in the writing were exaggerated with a “creative license” to make it more appealing to readers. Nevertheless the book went on to receive generally positive reviews from critics and it easily became a New York Times bestseller.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Why did we make this website</div>
  <div class="panel-body">
Instead of writing a paper for our creative projects, we chose to collaborate and build a website. The website is designed to show what’s really happening in Sudan while trying to gain insight on the poverty-stricken, violence-filled day-to-day lives of its people. The Valentino Achak Deng foundation, or “VAD foundation”, is striving to build a sustainable future for South Sudan. It’s a non-profit operating straight out of Sudan which works on community-driven development projects. (insert pictures or something on the side of the foundation). It was established by Valentino and Dave Eggers themselves right after the book was published. Their very first project was building an 18-structure education facility in Valentino’s hometown, Marial Bai. It’s already provided amazing educational opportunities for students and teachers alike, promoting literacy for the community. To learn more, go to the www.vadfoundation.org.

You can donate to the foundation, and based on the amount of money you’ve donated, it’ll go to these causes, through the lost boys foundation:


		<ol>
    <li class="list-group-item">$21 monthly donation supports the basic needs of a student in school</li>
    <li class="list-group-item">$50 gives a student textbooks and supplies for the school year</li>
    <li class="list-group-item">$75 provides one laboratory set of science equipment</li>
    <li class="list-group-item">$300 sponsors a girl to attend school for a full year</li>
    <li class="list-group-item">$300 sponsors a girl to attend school for a full year</li>
    <li class="list-group-item">$1000 stocks and updates the library for students, teachers, and the community</li>
    <li class="list-group-item">1500 builds a teacher’s house at the teacher-training college</li>
    <li class="list-group-item">5000 pays a dedicated teacher’s salary for one year</li>
     
     </div>
</div>

   <button type="button" class="btn btn-default btn-lg">
<%= link_to 'Donate to the Vad Foundation', 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XU2467BSM4GUG' %>

</div>

