<div class="well well-lg">



<h2>We felt as though we needed to do something</h2>
<p> That's why we are including a donation link to the What is what website</p>


 <p> <button type="button" class="btn btn-default btn-lg">
<%= link_to 'Donation Link', 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XU2467BSM4GUG' %></p>

  <li> <button type="button" class="btn btn-default btn-lg">
<%= link_to 'The what is the what foundation', 'http://www.vadfoundation.org/' %></p>



</div>

