<div class="well well-lg">

<h1> About Us</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris risus augue, tincidunt in elit sed, feugiat pulvinar ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet sem a nunc posuere porttitor. Vestibulum et placerat mauris, vel adipiscing ipsum. Aenean quis sem quis dui sollicitudin tempor. Praesent porttitor volutpat erat eu ornare. Nam congue lorem nec interdum porta. In pulvinar, turpis nec cursus mattis, tortor felis sagittis tortor, ut volutpat eros nibh ac est. Pellentesque iaculis turpis quis massa iaculis, a pulvinar lorem cursus. Donec a eleifend dui, sit amet cursus justo.

</div>